snippet dl
    ---
    tags:
      - daily-notes
    ---
    # ${1:`system("echo -n $(LC_ALL=en_US.utf8 date +%B)")`} ${2:`system("echo -n $(date +%-d)")`}, ${3:`system("echo -n $(date +%Y)")`}

    - [ ] ${4}

snippet job
    ---
    arrived_at: ${1}
    expected_leave:
    left_at:
    ---
    # ${2:`system("echo -n $(LC_ALL=en_US.utf8 date +%B)")`} ${3:`system("echo -n $(date +%-d)")`}, ${4:`system("echo -n $(date +%Y)")`}

    - [ ] ${5}

snippet task
    ---
    task-link: <${1}>
    git-link: <${2}>
    ---
    # ${3}

    ## description

    ${4}

    ## tasks

    - [ ] ${5}

    ## progress

    ${6}
